body {
  background-image: url();
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}
h1{
  text-align: center;
  text-decoration: solid gray
}

